@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin:0px;
    padding:0px;
}
.logos{
    display: flex;
}
.logo-1{
    width: 38px;
height: 38px;

}
.logo-2{
    width: 90px;
height: 38px;

}
.accio{
    display: flex;
    width: Fixed (1,439.98px);
height: Hug (77px);
padding: 15px 108px 15px 108px;
justify-content: space-between;
w
}
.btn{
    font-family: 'Poppins', sans-serif;
font-size: 14px;
font-style: italic;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
background-color:#428BEF;
color:rgb(255,255,255);

}
.sagar-1{
    display: flex;
    width: 630px;
height:47px;
gap: 28px;
 justify-content: space-between;

}
.announce{
    width: Fixed (1,440px);
height: Hug (37px);
padding: 8px 562px 8px 562px;
gap: 10px;
color: white;
background-color:rgb(47,128,237);
text-align: center;
}
.ok-1{
    
width: Hug (674px);
height: Hug (196px);
gap: 20px;


}
.developer{
    width:674px;
height:196px;
gap: 20px;

}
.money{
    display: flex;
    width: Fixed (711px);
height: Fixed (77px);
padding: 15px 20px 15px 20px;
border-radius: 8px;
border: 1px;
gap: 34px;

}
.hero{
    width: 1440px;
height: 783px;

}